:root {
  --yellow: rgb(224, 240, 0);
}

header {
  background: url("https://images.pexels.com/photos/373076/pexels-photo-373076.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260") no-repeat center;
  background-size: cover;
}

nav img {
  max-width: 3em;
}

header li {
  margin-right: 2em;
}
#header-ul a {
  color: var(--yellow);
  font-size: 1.1em;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px black;
}

.navbar-dark .navbar-toggler {
  background-color: rgb(224, 240, 0, 0.5);
}

#header-content {
  padding-top: 6em;
  padding-bottom: 5em;
}

#header-card .card {
  background-color: unset;
  border: none;
  max-width: 80%;
}

.card-text {
  font-size: 1.2em;
}

@media only screen and (max-width: 1080px) {
  .card-text {
    font-size: 1em;
  }

  main .main-cards-container {
    position: relative;
    top: 0;
  }

}

#header-card .btn {
  background-image: linear-gradient(to right, var(--yellow), #e6e494);
  border: none;
  border-radius: 0.5rem;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

header video {
  width: 80%;
}

#header-card .btn, header video {
  box-shadow: 7px 7px 5px grey;
}

/********** MAIN **********/
main {
  background-color: var(--yellow);
  position: relative;
  height: 102rem;
}

@media only screen and (min-width: 653px) {
  main {
    height: 65rem;
  }
}

@media only screen and (min-width: 971px) {
  main {
    height: 34rem;
  }
}

.main-content-container {
  height: 100%;
  position: relative;
}

main .main-cards-container {
  position: absolute;
  top: 6em;
}

main .main-cards-container img {
  border-radius: 50%;
  height: 15em;
  width: 15em;
}

main .card {
  background-color: rgb(255, 255, 255, 0.2);
  border: none;
  box-shadow: 5px 5px 5px grey;
  height: 15em;
  width: 18em;
}

@media only screen and (max-width: 652px) {
  main .main-card-container {
    padding-bottom: 3em;
  }
}

main .card .card-body {
  position: relative;
}

#card-button-1, #card-button-2, #card-button-3 {
  box-shadow: 5px 5px 5px grey;
  position: absolute;
  bottom: -1em;
  right: 4.5em;
}

main .bg-white {
  background-color: white;
  height: 15rem;
}

.purple-line {
  background-color: purple;
  height: .75em;
}

main .main-description {

}